page-home {
  ion-content,
  ion-item {
    background: #222 !important;
  }
  .title {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
  }
  p {
    letter-spacing: 0.035em;
    margin-top: 30%;
    font-size: 5rem;
    font-weight: 700;
    color: #00ab8c;
  }
  .stopwatch {
    min-height: 50vh;
  }
  .result {
    height: 50vh;
    overflow-y: scroll;
  }
  .fab-md {
    margin: 0 auto !important;
  }

  .splititem {
    text-align: center;
    color: #fff;
    font-weight: bold !important;
    letter-spacing: 2px;
  }

  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background: none !important;
  }
}
