<ion-content>
  <h2 class="title">Tes Stopwatch Link Medis</h2>
  <div class="stopwatch pt-3">
    <p text-center class="font-lg">
      {{stopWatch.time}}
    </p>
    <ion-item no-lines>
      <h2 *ngFor="let item of stopWatch.splitsTime" class="splititem">{{item}}</h2>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-fab (tap)="stopWatch.start()" *ngIf="!stopWatch.running">
          <ion-icon name="md-play"></ion-icon>
        </button>
        <button ion-fab (tap)="stopWatch.pause()" *ngIf="stopWatch.running">
          <ion-icon name="md-pause"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-fab (tap)="stopWatch.stop()">
          <ion-icon name="md-square"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-fab (tap)="stopWatch.split()">
          <ion-icon name="md-reorder"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-fab (tap)="stopWatch.reset()">
          <ion-icon name="md-refresh-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>